DOCUMENT_NAME=document.pdf
TOOL_NAME=Tool

COHERE_API_KEY=

ATLASSIAN_USER=
ATLASSIAN_API_TOKEN=
ATLASSIAN_SPACE_KEY=

AZURE_ENDPOINT=
AZURE_ENDPOINT_EMBEDDING=
AZURE_API_KEY=
AZURE_API_VERSION=
AZURE_API_VERSION_EMBEDDING=

ENV_PATH=